/* general */

.debug{
    border: 1px solid black;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/* header top */

.bg-black {
    background-color: black;
    height: 30px;
}
/* /header top */

/* header-bottom */
.bg-white {
    background-color: white;
}

.nav_a{
    color: black;
}

.access_btn {
    width: 75px;
    height: 40px;
    background-color: #363636;
    color: white;
    font-weight: 600;
    border-radius: 30px;
    margin-left: 20px;
    border: #363636;
}

.ri-search-line{
   font-size: 25px;
   margin-left: 20px;
   margin-right: 20px;
}

/* /header-bottom */

/* main */

/* jumbotron-section */
#jumbotron{
    background-image: url(img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    margin-top: 10px;
}

.jumbo_img{
    max-width: 400px;
    color: white;
    margin: 30px;
}

.jumbo_img h1{
    margin-top: 30px;
}

.jumbo_img p{
    margin-top: 30px;
}

.buy_now_btn {
    width: 120px;
    height: 40px;
    background-color: #cd3d0f;
    color: white;
    font-weight: 600;
    border-radius: 30px;
    border: #cd3d0f;
    margin-top: 30px;
}
/* /jumbotron-section */

/* PS5 section */
.card_return{ 
    width: 250px;
    margin: 5px;
    border-radius: 30px;
    margin-top: 30px;
}

.p_ps5{
    color: rgb(24, 142, 245) ;
    font-size: 10px;
    font-weight: 700;
    margin-top: 100px;
}

.h2_ps5{
    color: #363636;
}

.p2_ps5{
    margin-top: 30px;
    font-weight: 600;
    color: gray;
}

/* /PS5 section */

/* takes-two section */
#takes-two{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

.takes-two_img{
    max-width: 400px;
    color: white;
    margin: 30px;
}

.takes-two-logo{
    width: 250px;
    height: 180px;
    padding-top: 50px;
}

.takes-two_img h1{
    margin-top: 30px;
}

.takes-two_img p{
    margin-top: 30px;
}

.buy_now_takes-two_btn {
    width: 120px;
    height: 40px;
    background-color: #cd3d0f;
    color: white;
    font-weight: 600;
    border-radius: 30px;
    border: #cd3d0f;
    margin-top: 30px;
    margin-bottom: 50px;
}
/* /takes-two section */








